<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Olá, {{name}}</p>
  <p>Esse email e um convite de {{friendsName}} para você se juntar a Easy Kanban.</p>
  <p>Para aceita-lo clique no link abaixo para escolher uma senha:</p>
  <p>
    <a href="{{link}}">Criar minha senha</a>
  </p>
  <p>
    {{note}}
  </p>
  <p>Se você não conhece {{friendsName}}, então descarte esse email!</p>
  <p>
  <p>
    Obrigado!<br />
    <strong>Equipe Easy Kanban</strong>
  </p>
</div>


